* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list-item {
  padding: 0.5rem;
}

.nav__link {
  text-decoration: none;
  font-size: 1.5rem;
}

.nav__link:hover {
  text-decoration: underline;
}

.product__img {
  width: 150px;
  height: auto;
}